    @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&display=swap");
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    nav {
        font-family: 'Luxurious Roman', cursive;
    }
    
    @import url("https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&display=swap");
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    div {
        font-family: 'Acme', sans-serif;
    }
    /* HEADER */
    
    header.myheader {
        background: url("../images/home.jpg");
        background-size: cover;
        height: 700px;
    }
    
    header.myheader nav.Mynav ul.navbar {
        padding: 20px;
    }
    
    header.myheader nav.Mynav ul.navbar #about {
        margin-top: 2px;
    }
    
    header.myheader nav.Mynav ul.navbar #more {
        margin-top: 2px;
    }
    
    header.myheader nav.Mynav ul.navbar li {
        display: inline-block;
        font-size: 18px;
    }
    
    header.myheader nav.Mynav ul.navbar li.right {
        float: right;
        font-size: 20px;
        font-weight: bold;
    }
    
    header.myheader nav.Mynav ul.navbar li.right a:hover {
        text-decoration: underline;
        color: rgb(52, 217, 247);
        margin-top: 2px;
    }
    
    header.myheader nav.Mynav ul.navbar li.left {
        float: left;
        font-size: 20px;
        border: 3px solid;
        border-radius: 18px;
        color: rgb(220, 250, 247);
        font-weight: bold;
    }
    
    header.myheader nav.Mynav ul.navbar li.left a:hover {
        text-decoration: underline;
        color: rgb(47, 217, 233);
    }
    
    header.myheader nav.Mynav ul.navbar::after {
        display: block;
        clear: both;
        content: '';
    }
    
    header.myheader nav.Mynav ul.navbar li a {
        text-decoration: none;
        color: rgb(89, 153, 255);
        display: inline-block;
        padding: 12px;
    }
    
    header.myheader div.aboutme {
        text-align: center;
        font-size: 30px;
        margin-top: 100px;
        color: rgb(155, 248, 243);
    }
    
    header.myheader div.aboutme:hover {
        color: rgb(4, 240, 240);
    }
    
    header.myheader div.aboutme p.ability {
        text-align: center;
        color: rgb(166, 250, 250);
        font-size: 18px;
        margin: 20px;
        padding: 10px;
    }
    
    header.myheader div.aboutme a.PROJECTS {
        display: inline-block;
        border: 4px solid rgb(65, 90, 233);
        border-radius: 30px;
        padding: 12px;
        margin: 22px;
        background-color: rgb(137, 182, 241);
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    header.myheader div.aboutme a.PROJECTS:hover {
        text-decoration: underline;
        border: 4px solid rgb(10, 35, 179);
    }
    /* about */
    
    section.about {
        background: url(../images/iam.jpg);
        background-size: cover;
        height: 700px;
    }
    
    section.about h2.aboutme {
        text-align: center;
        margin: 5px;
        font-size: 30px;
    }
    
    section.about h2.aboutme:hover {
        text-decoration: underline;
    }
    
    section.about div.container div.me,
    div.img {
        width: 50%;
        float: left;
    }
    
    section.about div.container div.me {
        padding: 25px;
    }
    
    section.about div.container div.me p.aboutpara {
        font-size: 20px;
        font-family: 'Luxurious Roman', cursive;
        font-weight: 300;
    }
    
    section.about div.container div.me a.portfolio {
        display: inline-block;
        padding: 12px;
        border-radius: 22px;
        border: 3px solid black;
        color: black;
        background-color: rgb(105, 197, 233);
        text-decoration: none;
        margin: 12px;
        font-weight: bold;
    }
    
    section.about div.container div.me a.portfolio:hover {
        display: inline-block;
        color: rgb(39, 35, 252);
        text-decoration: underline;
    }
    /* MORE section */
    
    section.more {
        height: 540px;
        text-align: center;
        padding: 15px;
        background-color: rgb(255, 250, 255);
    }
    
    section.more h2.About {
        text-align: center;
        font-size: 30px;
    }
    
    a.anchor {
        padding: 25px;
        display: inline-block;
    }
    
    a.anchor:hover {
        display: inline-block;
        padding: 8px;
        margin: 15px;
        color: rgb(189, 80, 252);
        font-weight: bold;
    }
    
    section.more h2.About:hover {
        text-decoration: underline;
    }
    
    section.more div.info div.academics {
        width: 25%;
        height: 50%;
        float: left;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Luxurious Roman', cursive;
    }
    
    h3.acad:hover {
        text-decoration: underline;
    }
    
    section.more div.info div.projects {
        width: 25%;
        height: 50%;
        float: left;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Luxurious Roman', cursive;
    }
    
    h3.proj:hover {
        text-decoration: underline;
    }
    
    section.more div.info div.certificates {
        width: 25%;
        height: 50%;
        float: left;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Luxurious Roman', cursive;
    }
    
    h3.cerf:hover {
        text-decoration: underline;
    }
    
    section.more div.info div.goals {
        width: 25%;
        height: 50%;
        float: left;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Luxurious Roman', cursive;
    }
    
    h3.goal:hover {
        text-decoration: underline;
    }
    /* contact section */
    
    section.contact {
        background: url(../images/contact.jpg);
        background-size: cover;
        height: 750px;
        padding: 10px;
    }
    
    section.contact h2.details {
        text-align: center;
        font-size: 30px;
        color: white;
    }
    
    section.contact h2.details:hover {
        text-decoration: underline;
        color: rgb(88, 255, 238);
    }
    
    section.contact h3.sub {
        font-size: 35px;
        font-weight: bold;
        font-family: 'Great Vibes', cursive;
        text-align: center;
        margin-top: 15px;
        color: white;
    }
    
    section.contact h3:hover {
        text-decoration: underline;
    }
    
    section.contact div.cont div.var h4 {
        font-size: 30px;
        font-weight: bolder;
        font-family: 'Bree Serif', serif;
        text-align: center;
        margin-top: 13px;
        color: rgb(31, 252, 215);
    }
    
    section.contact div.cont div.var h4:hover {
        color: rgb(5, 196, 196);
    }
    
    section.contact div.cont div.var a.tauf {
        color: rgb(41, 245, 224);
    }
    
    section.contact div.cont div.var a.tauf:hover {
        color: rgb(5, 196, 196);
    }
    
    section.contact div.cont div.var a.lin {
        color: rgb(41, 245, 224);
    }
    
    section.contact div.cont div.var a.lin:hover {
        color: rgb(5, 196, 196);
    }
    
    section.contact marquee.keep {
        color: white;
        padding-top: 100px;
        font-size: 22px;
        font-weight: bolder;
    }
    
    section.contact marquee.keep:hover {
        color: rgb(253, 51, 253);
    }